
<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p><strong>Status:</strong> <%= @task.completed ? 'Completed' : 'Incomplete' %></p>
<p><%= link_to 'Edit', edit_task_path(@task) %></p>

<p><%= link_to "homepage", tasks_path %>  </p>
